.carousel-container {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-slide.active {
  opacity: 1;
  z-index: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%; /* only lower portion */
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
  pointer-events: none; /* allow clicks on carousel buttons */
}


.carousel-text {
  position: absolute;
  bottom: 20%;
  left: 10%;
  z-index: 2;
}
.carousel-text h1 {
  font-size: 42px;
  margin-bottom: 10px;
}
.carousel-text p {
  font-size: 20px;
}

/* Arrows */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  background: rgba(0,0,0,0.4);
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  z-index: 3;
}
.prev { left: 20px; }
.next { right: 20px; }

